/Library
*.csproj
*.unityproj
*.sln
*.userprefs
/trunk-csharp.suo
/trunk.sln
/trunk-csharp.sln
/*.sln
/*.sln
/*.suo
/*.sln
/*.userprefs
/*.sln
/*.suo
/*.csproj
/*.csproj
/*.csproj
/*.csproj
/*.unityproj
/*.unityproj
